.txtwrapper{
    font-size: 24px;
}


.box_search {width:300px;float:left}

#scheda_azienda {}
#scheda_azienda .logo_azienda {float:left;width:15%}
#scheda_azienda .info_azienda {float:left;padding-left:30px;width:80%}
#scheda_azienda .info_azienda h1 {}
#scheda_azienda .info_azienda p {margin:0}

#scheda_azienda .descrizione {clear:both}

.img_gallery {width:80%}

#footer_dettaglio { background-color:#ededed}

/*forzature jquery*/
.ui-content {padding:0.2em !important}